charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
	Semester Project
	
	Studio Ghibli Fan Web Page
	Author: ke guan
    Date:   7/25/2017  
	
	Filename: sgf_style4.css

*/


section.movie  div.detail p {
	text-align: justify;
	font-size:12px;	
	padding:20px 0;
}

section.movie div.detail h2 {
	text-align: center;
	padding: 15px;
}

